@keyframes animate-down{
  0%{
  transform: translate(-50%, -170%);
  opacity:0;
  }

  100%{
  transform: translate(-50%, -50%);
  opacity:1;
  }
}

@keyframes animate-post{
  0%{
  transform: translateY(-30px);
  opacity:0;
  }

  100%{
  transform: translatY(0);
  opacity:1;
  }
}

@keyframes animate-msg{
  0%{
  transform: translate(-50%, -550%);
  opacity:0;
  }

  100%{
  transform: translate(-50%, -50%);
  opacity:1;
  }
}
