.form-comment{
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto;
max-width: 450px;
width:100%;
background: #ffffff;
margin-top: 35px;
padding: 30px;
animation: animate-post 1.2s ease;
}

.label-message{
display: flex;
flex-direction: column;
width:100%;
color: #878787;
font-size: 15px;
margin-top: 30px;
}

.comment-message{
outline:0;
font-family: 'Raleway', sans-serif;
width:100%;
padding:12px;
height: 40px;
font-size: 15px;
font-weight: 300;
color: #878787;
border:none;
background: #F1F1F1;
margin-top: 6px;
position: relative;
transition: all 0.25s ease;
resize: none;
height: 150px;
}

.comment-name{
color: #878787;
font-size: 15px;
text-align: right;
}
